
  .bioBox{
    width:100%;
    background-color: aliceblue;
    border-radius: 5%;
  }
  .coverImage{
    height: 300px;
    border-radius: 20%;
  }

  .main{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    opacity: .80;
    margin-top: 15%;
  }

  .body{
    background-image: url("photos_moe/background.jpeg");
  }